<!DOCTYPE html>
<html>
<head>
    <title>Alert Example</title>
</head>
<body>
    <script>
        alert("An error has occured!\n <%=message%>");
        window.location.href = "/account";
    </script>
</body>
</html>